lm/unidad6/peersonas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  <xs:element name="personas">
  <xs:complexType>
  <xs:sequence>
    <xs:element name="persona" maxOccurs="unbounded">
    <xs:complexType>
    
    <xs:attributeGroup ref="refgroup"/>
    </xs:complexType>
    </xs:element>  
  </xs:sequence>
  </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="refgroup">

    <xs:attribute name="nombre" type="xs:string" use="required"/>
    <xs:attribute name="edad" type="xs:string"/>
    <xs:attribute name="pais" type="xs:string"/>

</xs:attributeGroup>
</xs:schema>